
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

{% block header%}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <a href="/" class="btn btn-warning btn-md" role="button" aria-pressed="true" ><span class="glyphicon glyphicon-user"></span> INICIO</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        {% if user.is_authenticated %}
        <p class="pt-md-3 pl-md-4" style="color: #e6e6fa">Hola! {{ user.username }}</p>
        {% else %}
        <p class="pt-md-3 pl-md-4" > <a href="{% url 'signup' %}" style="color: #e6e6fa"> Registrarse </a> </p>
        {% endif %}
      </li>
    </ul>

    <div>
      {% if user.is_authenticated %}
          {% if request.user.is_superuser %}
            <a href="admin" class="btn btn-info btn-sm" role="button" aria-pressed="true" ><span class="glyphicon glyphicon-user"></span> Admin </a></li>
          {% endif %}
        <a href="{% url 'logout' %}?next=/" class="btn btn-danger btn-sm " role="button" aria-pressed="true" ><span class="glyphicon glyphicon-user"></span> Salir</a></li>
      {% else %}
        <a href="{% url 'login' %} " style="color: #e6e6fa"> Entrar</a>
      {% endif %}
    </div> 

  </div>
</nav>
<br></br>

{% endblock %}

{% block page_content %}{% endblock %}