{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block page_content %}

<section id="cover">
    <div id="cover-caption">
        <div id="container" class="container">
            <div class="row text-black">
                <div class="col-sm-6 offset-sm-3 text-center">
                        Se ha eliminado con exito
                        <a href="/" class="btn btn-success   btn-md" role="button" aria-pressed="true" ><span class="glyphicon glyphicon-user"></span> volver</a>
                </div>
            </div>
        </div>
    </div>
</section

{% endblock %}